<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="admin.css">
    <title>Admin Panel</title>
    <a href="/logout" class="logout">Logout</a>
</head>
<body>
    <h1>Admin Control Panel</h1>

    <p>Welcome to the admin area.</p>

    <h2>Inventory Management</h2>
    <ul>
        <li><a href="/inventory_list">View Inventory</a></li>
        <li><a href="/add_inventory">Add Item</a></li>
        <li><a href="/update_inventory">Update Item</a></li>
        <li><a href="/delete_inventory">Delete Item</a></li>
    </ul>

    <h2>Sales Management</h2>
    <ul>
        <li><a href="/sales" class="px-4 py-2 bg-green-600 text-white rounded-md">View Sales</a></li>
    </ul>

</body>
</html>